@import "tailwindcss";

.input{
    @apply w-72 h-8 pl-2 m-1;
    border-radius: 8px;
    transition: border-color 0.25s;
    background-color: #1a1a1a;
}

.input:hover,
input:active {
    border-color: #646cff;
}


  
.input:focus,
.input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}